.

.container {
    width: 1180px;
    margin: auto;
}

h2 {
    margin: 100px 0 25px;
    text-align: center;
    color: #212121;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}

.line {
    margin: auto;
    width: 64px;
    height: 1px;
    background: #E72424;
}

.subtitle {
    margin: 30px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}
